---
- name: Config tasks
  become: true
  tags:
    - sshd_config
    - sshd
  block:
    - name: Modify Diffie-Hellman moduli
      ansible.builtin.include_tasks: moduli.yml
      when: sshd_moduli_secure | default(False)

    - name: Merge daemon configration
      ansible.builtin.set_fact:
        sshd_daemon_config_merged: "{{ sshd_daemon_config_default | ansible.builtin.combine(sshd_daemon_config_options, recursive=True) }}"
    - name: Merge client configration
      ansible.builtin.set_fact:
        sshd_client_config_merged: "{{ sshd_client_config_default | ansible.builtin.combine(sshd_client_config_options, recursive=True) }}"
    - name: Merge server configration
      ansible.builtin.set_fact:
        sshd_server_config_merged: "{{ sshd_server_config_default | ansible.builtin.combine(sshd_server_config_options, recursive=True) }}"

    - name: Debug variables
      ansible.builtin.include_tasks: debug/config.yml
      when: sshd_debug | default(False)

    - name: Manage daemon configration
      ansible.builtin.template:
        src: sshd.j2
        dest: "{{ sshd_daemon_config_file }}"
        owner: root
        group: root
        mode: "0644"
      notify: Restart sshd
      when: (sshd_daemon_config_merged | default({})) | length > 0
    - name: Manage client configration
      ansible.builtin.template:
        src: ssh.conf.j2
        dest: "{{ sshd_client_config_file }}"
        owner: root
        group: root
        mode: "0644"
      when: (sshd_client_config_merged | default({})) | length > 0
    - name: Manage server configration
      ansible.builtin.template:
        src: sshd.conf.j2
        dest: "{{ sshd_server_config_file }}"
        owner: root
        group: root
        mode: "0600"
      notify: Reload sshd
      when: (sshd_server_config_merged | default({})) | length > 0
