---

- name: Dropin config tasks
  when: sshd_dropin_config_manage is defined and sshd_dropin_config_manage
  become: true
  tags:
    - sshd_dropin
    - sshd_config
    - sshd
  block:
    - name: Initialize temp variables
      ansible.builtin.set_fact:
        sshd_client_dropin_config_temp: []
        sshd_server_dropin_config_temp: []

    - name: Collect dropin configs
      ansible.builtin.find:
        paths: "{{ item }}"
        patterns: "*.conf"
      with_items:
        - "{{ sshd_client_dropin_config_dir }}"
        - "{{ sshd_server_dropin_config_dir }}"
      register: dropin_list

    - name: Assemble current dropin config
      ansible.builtin.set_fact:
        sshd_dropin_config_current: "{{ dropin_list['results'] | map(attribute='files') | flatten | map(attribute='path') | default([]) }}"
      when: dropin_list is defined

    - name: Assemble dropin client config (only state=present)
      ansible.builtin.set_fact:
        sshd_client_dropin_config_temp: "{{ sshd_client_dropin_config_temp + [sshd_client_dropin_config_dir + '/' + item.name] }}"
      with_items: "{{ sshd_client_dropin_config_options }}"
      when: item.state is not defined or item.state == 'present'

    - name: Assemble dropin server config (only state=present)
      ansible.builtin.set_fact:
        sshd_server_dropin_config_temp: "{{ sshd_server_dropin_config_temp + [sshd_server_dropin_config_dir + '/' + item.name] }}"
      with_items: "{{ sshd_server_dropin_config_options }}"
      when: item.state is not defined or item.state == 'present'

    - name: Assemble dropin configs
      ansible.builtin.set_fact:
        sshd_dropin_config_managed: "{{ sshd_client_dropin_config_temp + sshd_server_dropin_config_temp }}"

    - name: Remove dropin target
      ansible.builtin.set_fact:
        sshd_dropin_config_remove: "{{ sshd_dropin_config_current | difference(sshd_dropin_config_managed) if sshd_dropin_config_managed is defined else sshd_dropin_config_current }}"

    - name: Debug variables
      ansible.builtin.include_tasks: debug/dropin.yml
      when: sshd_debug is defined and sshd_debug

    - name: Remove dropin config (including state=absent files)
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      when: sshd_dropin_config_remove is defined and (sshd_dropin_config_remove | length > 0)
      with_items: "{{ sshd_dropin_config_remove }}"

    - name: Manage client dropin configuration
      ansible.builtin.template:
        src: ssh.conf.dropin.j2
        dest: "{{ sshd_client_dropin_config_dir }}/{{ item.name }}"
        mode: "0644"
        owner: root
        group: root
      with_items: "{{ sshd_client_dropin_config_options }}"
      when:
        - sshd_client_dropin_config_options is defined and sshd_client_dropin_config_options | length > 0
        - item.state is not defined or item.state == 'present'

    - name: Manage server dropin configuration
      ansible.builtin.template:
        src: sshd.conf.dropin.j2
        dest: "{{ sshd_server_dropin_config_dir }}/{{ item.name }}"
        mode: "0644"
        owner: root
        group: root
      notify: Reload sshd
      with_items: "{{ sshd_server_dropin_config_options }}"
      when:
        - sshd_server_dropin_config_options is defined and sshd_server_dropin_config_options | length > 0
        - item.state is not defined or item.state == 'present'
