# {{ ansible_managed }}
{% if sshd_client_config_merged is defined and sshd_client_config_merged %}
{%   for ssh_config_keys, ssh_config_values in sshd_client_config_merged.items() %}
{%     if ssh_config_keys == 'Host' %}
{%       for values in ssh_config_values %}
{{         ssh_config_keys }}{{ values.pattern | indent(1, true) }}
{%         for key, value in values.content.items() %}
{%           if value is iterable and (value is not string and value is not mapping) %}
{%             for line in value %}
{{               key | indent(2, true) }} {{ line }}
{%             endfor %}
{%           elif value == "" or value == None %}
{%           else %}
{{             key | indent(2, true) }} {{ value }}
{%           endif %}
{%         endfor %}
{%       endfor %}
{%     elif ssh_config_keys == 'Match' %}
{%       for values in ssh_config_values %}
{{         ssh_config_keys }}{{ values.criteria | default('All') | indent(1, true) }}{{ values.pattern | indent(1, true) }}
{%         for key, value in values.content.items() %}
{%           if value is iterable and (value is not string and value is not mapping) %}
{%             for line in value %}
{{               key | indent(2, true) }} {{ line }}
{%             endfor %}
{%           elif value == "" or value == None %}
{%           else %}
{{             key | indent(2, true) }} {{ value }}
{%           endif %}
{%         endfor %}
{%       endfor %}
{%     elif ssh_config_values is iterable and (ssh_config_values is not string and ssh_config_values is not mapping) %}
{%       for values in ssh_config_values %}
{{         ssh_config_keys }} {{ values | string }}
{%       endfor %}
{%     elif ssh_config_values == "" or ssh_config_values == None or ssh_config_values == '__DELETE__' %}
{#       Do nothing, this is to remove a config key #}
{%     else %}
{{       ssh_config_keys }} {{ ssh_config_values }}
{%     endif %}
{%   endfor %}
{% endif %}
