# {{ ansible_managed }}
{% if item.content is defined and item.content %}
{%   for ssh_dropin_keys, ssh_dropin_values in item.content.items() %}
{%     if ssh_dropin_keys == 'Host' %}
{%       for values in ssh_dropin_values %}
{{         ssh_dropin_keys }}{{ values.pattern | indent(1, true) }}
{%         for key, value in values.content.items() %}
{%           if value is iterable and (value is not string and value is not mapping) %}
{%             for line in value %}
{{               key | indent(2, true) }} {{ line }}
{%             endfor %}
{%           elif value == "" or value == None %}
{%           else %}
{{             key | indent(2, true) }} {{ value }}
{%           endif %}
{%         endfor %}
{%       endfor %}
{%     elif ssh_dropin_keys == 'Match' %}
{%       for values in ssh_dropin_values %}
{{         ssh_config_keys }}{{ values.criteria | default('All') | indent(1, true) }}{{ values.pattern | indent(1, true) }}
{%         for key, value in values.content.items() %}
{%           if value is iterable and (value is not string and value is not mapping) %}
{%             for line in value %}
{{               key | indent(2, true) }} {{ line }}
{%             endfor %}
{%           elif value == "" or value == None %}
{%           else %}
{{             key | indent(2, true) }} {{ value }}
{%           endif %}
{%         endfor %}
{%       endfor %}
{%     elif ssh_dropin_values is iterable and (ssh_dropin_values is not string and ssh_dropin_values is not mapping) %}
{%       for values in ssh_dropin_values %}
{{         ssh_dropin_keys }} {{ values | string }}
{%       endfor %}
{%     elif ssh_dropin_values == "" or ssh_dropin_values == None or ssh_dropin_values == '__DELETE__' %}
{#       Do nothing, this is to remove a config key #}
{%     else %}
{{       ssh_dropin_keys }} {{ ssh_dropin_values }}
{%     endif %}
{%   endfor %}
{% endif %}
