# {{ ansible_managed }}
{% if sshd_daemon_config_merged is defined and sshd_daemon_config_merged %}
{%   for key, value in sshd_daemon_config_merged.items() %}
{{     key }}={{ value }}
{%   endfor %}
{% endif %}
